<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Dashboard
    <small>Track your job applications</small>
  </h1>
</section>

<!-- Main content -->
<section class="content">
  <div id="dashboard-navigation-bar">
    <span><a routerLink="/user/dashboard/list" routerLinkActive="active">List</a></span> |
    <span><a routerLink="/user/dashboard/calendar" routerLinkActive="active">Calendar</a></span>
  </div>

  <!-- Your Page Content Here -->
  <router-outlet></router-outlet>

</section>
<!-- /.content -->

